*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc-chisel/*
!/digital-design-lab/*
!Makefile
!README.md
!REPORT.md
!.gitignore
!init.sh
!flake.lock
/fceux-am
/nvboard
/am-kernels
/yosys-sta
/rt-thread
