*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc-chisel/*
!/digital-design-lab/*
!Makefile
!Justfile
!README.md
!REPORT.md
!Virtual-SIMD-Spec.md
!.gitignore
!init.sh
!flake.lock
!GEMM
/fceux-am
/am-kernels
/yosys-sta
/rt-thread
/nvboard
