*
!*/
!*.mill
!*.sc
!*.scala
!*.cc
!*.c
!verilator.vlt
!*.h
!*.jl
!.gitignore
!.scalafmt.conf
!Justfile
!Makefile
!perf-archive/*
!MemoryAnalyzer/*
.metals
out
build
compile_commands.json
taohebench/config/config.h
