*
!*/
!*.mill
!*.sc
!*.scala
!*.cc
!*.c
!*.h
!*.jl
!*.sby
!*.rs
!verilator.vlt
!.gitignore
!.scalafmt.conf
!Justfile
!Makefile
!perf-archive/*
!MemoryAnalyzer/*
!micro-sim/*
!micro-sim/examples/*
.metals
out
build
compile_commands.json
taohebench/config/config.h
